@using Business.ViewModels.Admin.AboutUs
@model AboutUsCreateVM

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Create About Us</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form enctype="multipart/form-data" asp-action="create" asp-controller="aboutus" method="post">
                <div class="form-group">
                    <label asp-for="SubHeader"></label>
                    <input class="form-control" asp-for="SubHeader" />
                    <span asp-validation-for="SubHeader"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Header"></label>
                    <input class="form-control" asp-for="Header" />
                    <span asp-validation-for="Header"></span>
                </div>
                <div class="form-group">
                    <label asp-for="About"></label>
                    <textarea class="form-control" asp-for="About"></textarea>
                    <span asp-validation-for="About"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea class="form-control" asp-for="Description"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="SignatureImg"></label></br>
                    <input type="file" class="form-label" asp-for="SignatureImg">
                    <span asp-validation-for="SignatureImg"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="Photos"></label></br>
                    <input type="file" multiple class="form-label" asp-for="Photos">
                    <span asp-validation-for="Photos"></span>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->