@using Business.ViewModels.User.Shop
@model ShopIndexVM

<!-- main starts -->
<main>
	<!-- main-frame section starts -->
	<section class="main-frame no-select" style="background-image: url(assets/images/shop-page-title.jpg);">
		<div class="main-frame-title">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-12">
						<div class="main-frame-title-text">
							Shop
						</div>
					</div>
					<div class="col-md-12">
						<div class="main-frame-breadcrumb">
							Home / Products
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- main-frame section ends -->
	<!-- products section starts -->
	<section class="products no-select">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="left-sidebar">
						<form method="get" asp-action="index" asp-controller="shop">
							<div class="search">
								<h4>Search</h4>
								<div class="search-product">
									<input type="search" asp-for="Title" placeholder="Search products"
										   class="search-product-input">
									<img src="~/assets/images/search-product-icon.png" alt="" class="search-product-icon">
								</div>
							</div>
							<div class="categories">
								<h4>Product categories</h4>
								<div class="row">
									<div class="col-6">
										<div class="form-group">
											<label asp-for="CategoryIds"></label>
											<select asp-for="CategoryIds" asp-items="Model.Categories" multiple="multiple">
											</select>
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-primary">Search</button>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-9 products-side">
					<div class="row">
						@foreach (var product in Model.Products)
						{
							<div class="col-lg-4 col-md-6 pb-5">
								<div class="productt" id="1">
									<div class="product-image"
										 style="background-image: url('@Url.Content("~/assets/img/" + product.Image)');">
										<div class="basket-wishlist-compare d-flex justify-content-center">
											<div id="addToCart" data-id="@product.Id" class="add-basket text-center">
												<i class="fas fa-shopping-basket"></i>
											</div>
										</div>
									</div>
									<div class="product-inf">
										<h5 class="productt-name">@product.Name</h5>
										<p><span>$</span><span class="price">@product.Price</span></p>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
	</section>
	<!-- products section ends -->
</main>
<!-- main ends -->
@section Scripts{
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="~/js/basket.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
	<script>
		$(document).ready(function () {
			$('#CategoryIds').multiselect({
				includeSelectAllOption: true,
			});
		});
	</script>
}