@using Business.ViewModels.Admin.Slider
@model SliderUpdateVM

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Update Slider</h1>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-body">
			<form enctype="multipart/form-data" asp-action="update" asp-controller="slider" method="post">
				<div class="form-group">
					<label asp-for="Title"></label>
					<input class="form-control" asp-for="Title" />
					<span asp-validation-for="Title"></span>
				</div>
				<div class="form-group">
					<label asp-for="Subtitle"></label>
					<input class="form-control" asp-for="Subtitle" />
					<span asp-validation-for="Subtitle"></span>
				</div>
				<div class="form-group">
					<label class="form-label" asp-for="NewPhoto"></label></br>
					<input type="file" class="form-label" asp-for="NewPhoto">
					<span asp-validation-for="NewPhoto"></span>
				</div>
				<button type="submit" class="btn btn-primary">Update</button>
			</form>
		</div>
	</div>

</div>
<!-- /.container-fluid -->
